<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>

    <ul>
        {% for task in tasks %}
        <li>{{task.title}} - {{task.completed|yesno:"Done,Not Done"}}</li>
        {% empty %}
        <p>No tasks available</p>

        {% endfor %}

    </ul>

    <h2>Add a new Task</h2>

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Add Task</button>
    </form>
    
</body>
</html>